
.flex-container {
  background-color: grey;
  color: white;
  display: flex;
  -webkit-flex-flow: row || nowrap;/* Safari */
  flex-flow: row || nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-itmes: stretch;
}

.flex-item {
  background-color: black;
  height: 400px;
  text-align: center; 
  width: 600px;

}
